.filmWrap {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
  padding: 35px;
}
.filmImg {
  min-width: 20%;
}
.filmInfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}
.title {
  font-size: 45px;
}
.text {
  font-size: 20px;
  margin: 0;
}
.link {
  font-size: 45px;
  list-style: none;
  text-decoration: underline;
  font-size: 25px;
  font-weight: 600;
}
